.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.grid {
  float:left;
  padding: 10px;
}
.heroes-description {
  width:200px;
}

.ironman-image{
  background-image: url(./ironman.jpg);
  height: 300px;
  width: 300px;

}